body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin:0;
  background-color: #EFEFEF;
}


#left-bar {
  background-color: #3D3D3D;
  line-height: 3em;
  color: #d6d6d3;
  height: 100vh;
  font-weight: bold;
  padding-left: 15px;
  font-size: 0.9em;
  padding-top: 2em;
}


#left-bar i {margin: 0 1em;}

.main-container {
  padding: 2em 0.5em 2em 2em;
  background-color: #EFEFEF;
  font-size: 0.9em;
  font-weight: bold;
}

#new-post {
  margin: 2em 0;
}

.new-form {
  display: none;
}


table {
    text-align: center;
}

.table-title {
  background-color: #777777;
  color: white;
}

.table-title th {
  width: 200px;
  height: 25px;
  font-size: 0.9em;
}

.table-title .small {
  width: 120px;
}

.table-title .medium {
  width: 150px;
}

.table-title .big {
  width: 350px;
}

.table-text {
  background-color: white;
  font-size: 0.9em;
}

.table-text i:first-child {
  margin-right: 1em;
}


.table-text td {
  height: 25px;
}

.green { color: green}

.red { color: red}

.admin-title {
  text-align: center;
}

.admin-title h3{
  padding-top: 2em;
}

.admin-title p {
  line-height: 1.5em;
}

#logout-form { text-align: center; margin-top: 4em;}

textarea {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#intro-textarea { margin-bottom: 1em;}
