/******** RESET *********/
* { box-sizing: border-box;}

h1, h2, h3 { margin: 0;}
figure { margin: 0;}
a { text-decoration: none; color:inherit;}
img { max-width: 100%;}
header {margin: 0;}


/******** HELPER ****************/

.left { float: left;}
.right { float: right;}


/*********** GRID **************/
.row:after {
  content: " ";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}

.container{max-width:1100px; margin: 0 auto; padding: 0 5px;}
.row{margin:0;}
.col{padding:0px;min-height:1px;}
.col1{width:8.333%;}
.col2{width:16.667%;}
.col3{width:25%;}
.col4{width:33.333%;}
.col5{width:41.667%;}
.col6{width:50%;}
.col7{width:58.33%;}
.col8{width:66.667%;}
.col9{width:75%;}
.col10{width:83.333%;}
.col11{width:91.667%;}
.col12{width:100%;}


/*** Medium ***/
@media screen and (max-width:768px){

	/*** M Grid ***/
	.m-col1{width:8.333%;}
	.m-col2{width:16.667%;}
	.m-col3{width:25%;}
	.m-col4{width:33.333%;}
	.m-col5{width:41.667%;}
	.m-col6{width:50%;}
	.m-col7{width:58.33%;}
	.m-col8{width:66.667%;}
	.m-col9{width:75%;}
	.m-col10{width:83.333%;}
	.m-col11{width:91.667%;}
	.m-col12{width:100%;}
}

/*** Small ***/
@media screen and (max-width:480px){

	/*** S Grid ***/
	.s-col1{width:8.333%;}
	.s-col2{width:16.667%;}
	.s-col3{width:25%;}
	.s-col4{width:33.333%;}
	.s-col5{width:41.667%;}
	.s-col6{width:50%;}
	.s-col7{width:58.33%;}
	.s-col8{width:66.667%;}
	.s-col9{width:75%;}
	.s-col10{width:83.333%;}
	.s-col11{width:91.667%;}
	.s-col12{width:100%;}
  #main-container { font-size: 0.9em;}
  .logo h1{ font-size: 1em; }
  .menu {font-size: 1em;}
  #intro-section h3 {font-size: 1em}
  .page-title h2 {font-size: 2.8em;}
  .page-title p { font-size: 0.8em;}
  .section-title {font-size: 1.1em}
  .article-text {font-size: 0.9em;}
  .section-categorie p {font-size:0.9em;}
}
