/******************** BODY STRUCTURE ******************/
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}


/************************* MAIN HEADER *********************/
#main-header {
  color: white;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  z-index: 99;
}

.logo { margin-left: 1em; font-size: 0.8em; }

/*menu*/
.menu { position: fixed; font-size: 1.7em; right: 35px; top: 8px;}
.menu i {cursor: pointer;}
.dropdown {
  padding: 0.3em 2em 1.3em 2em;
  font-size: 0.5em;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 0;
  color: white;
  display: none;
  color:#FFF;
  background-color: rgba(38, 38, 38, 0.55)
}
.dropdown ul {list-style: none; display: inline-block; width: 100%; margin: 0; padding: 0}
.dropdown ul li { margin-top: 1em;}
.dropdown a:hover { color: yellow;}

.search_input { margin-top: 0.9em; display: none;}



/********************** INTRO SECTION *******************/
#intro-section {
  background: url("../images/share.jpg") no-repeat center;
  background-size: cover;
  height: 65vh;
  width: 100%;
  text-align: center;
  position: relative;
}

#intro-section h3 {
  font-size: 1.5em;
  letter-spacing: 5px;
  position: absolute;
  top: 25%;
  width: 100%;;
  color: yellow;
}

.page-title {
  position: absolute;
  color: white;
  top: 45%;
  width: 100%;
  letter-spacing: 5px;
}

.page-title h2 { text-transform: uppercase; font-size: 4.3em; font-weight: bold;}
.page-title span { display: inline-block;}
.page-title p { font-weight: bold; font-size: 1.2em; color: yellow; }




/******************** WHY PERMACULTURE SECTION *******************/
#why-section { background-color: #EEEEEE;}

.section-content {  padding: 4em 0 11em 0; text-align: center;}

.section-title { font-size: 1.4em; text-transform: uppercase;}

.title-stroke { margin: 0.9em auto 0 auto; width: 160px; border-bottom: 2px solid #449f6b;}

.section-article { margin-top: 1em; text-align: justify; padding: 0 2em; position: relative; overflow: hidden;}

.article-text { opacity: 0; margin-top: 3em;}
.article-text:first-child { opacity: 1}


/************************* QUOTE SECTION ***********************/
#quote-section {
  text-align: center;
  font-style: italic;
  color: white;
  background-color: #449f6b;
  padding: 3em 3em;
}

.quote {  opacity: 0;}

.quote span { font-size: 0.8em; font-style: normal; padding-top: 1em; }



/******************** POSTS SECTION *******************/
#posts-section { margin-top: 3.5em;}
.section-categorie {
  text-transform: capitalize;
  margin: 3.5em 0 3.5em 0;
  cursor: pointer;
}

.section-categorie p { display: inline; margin-left: 3em; text-decoration: underline;}

.section-categorie p:first-child {margin-left: 0;}

.active { text-decoration: underline;}

.post { margin-bottom: 2em;}

.example {
  position: relative;
  border: 1px solid rgb(139, 139, 139);
  text-align: justify;
  box-shadow: 3px 3px 3px #CCC;;
  transition: 0.15s;
  cursor: pointer;
  margin: 0 1.5em;
}
.example:hover {
  box-shadow: 0 0 8px 5px #ccc;
  transform:scale(1.02,1.02);
}
.example img {  display: block;}
.example h4 { text-align: center; color: #449f6b}
.example p { padding: 1em 1em; font-size: 0.8em;}


/********************** BACK TO TOP *****************/
.top {
  position: fixed;
  bottom: 100px;
  right: 35px;
  display: none;
  color: #449f6b;
  text-align: center;
  cursor:pointer;
}
.top i {font-size: 1.8em;}



/************************ FOOTER *********************/
footer {
  background-color: #3a4e42;
  line-height: 1.7em;
  letter-spacing: 0.2em;
  color: white;
  font-size: 0.7em;
  padding: 1em 0;
  text-align: center;
  margin-top: 3em;
}
footer span { font-size: 1.3em; }
footer span i { margin-right: 0.8em; margin-top: 5px;}
footer i:last-child { margin-right: 0;}


/*********************** SEARCH ********************/
.search-result { margin: 3em 1.5em;}


/*********************** ABOUT ********************/
#about-content { text-align: justify; margin: 4em 4em 6em 4em;}
#about-content header { text-align: center; margin-bottom: 3em; }

/*********************** CONTACTS ********************/
#contacts-content { text-align: center; margin: 4em 4em 6em 4em;}
#contacts-content header { margin-bottom: 3em; }
